extends base
block content
  .c-container.c-container--center
    .logo.logo--signup.fas.fa-kiwi-bird
    form#form-signup.form
      .form_group
        input#fname.input.input--name.input--fname(
          placeholder='first name'
          autocomplete='off'
          spellcheck='false'
          required
        )
        input#lname.input.input--name.input--lname(
          placeholder='last name'
          autocomplete='off'
          spellcheck='false'
          required
        )
      input#username.input.input--border-bottom(
        placeholder='username'
        autocomplete='off'
        spellcheck='false'
        required
      )
      input#email.input.input--border-bottom(
        type='email'
        placeholder='email'
        autocomplete='off'
        spellcheck='false'
        required
      )
      input#password.input.input--border-bottom(
        type='password'
        placeholder='password'
        autocomplete='off'
        spellcheck='false'
        required minlength='8'
      )
      input#password-confirm.input.input--signup.input--border-bottom(
        type='password'
        placeholder='confirm password'
        autocomplete='off'
        spellcheck='false'
        required minlength='8'
      )
      input.input.input--submit(type='submit')
    a.a.a--signup(href='/login') Already have an account? Sign in.


























//- EOF
